<div class="row justify-content-center mt-5">
  <div class="col-sm-8 col-md-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h1 class="h4 card-title text-center mb-4">Sign in</h1>

        <%= form_with url: session_path do |form| %>
          <div class="mb-3">
            <%= form.label :email_address, "Email", class: "form-label" %>
            <%= form.email_field :email_address, required: true, autofocus: true,
                autocomplete: "username", class: "form-control",
                value: params[:email_address] %>
          </div>

          <div class="mb-4">
            <%= form.label :password, "Password", class: "form-label" %>
            <%= form.password_field :password, required: true,
                autocomplete: "current-password", class: "form-control", maxlength: 72 %>
          </div>

          <%= form.submit "Sign in", class: "btn btn-primary w-100" %>
        <% end %>

        <hr class="my-3">

        <div class="text-center small">
          <%= link_to "Forgot password?", new_password_path %>
          &nbsp;·&nbsp;
          <%= link_to "Create an account", new_registration_path %>
        </div>
      </div>
    </div>
  </div>
</div>
